
{% extends 'quiz/dependencies.html' %}
{% load static %}
{% block title %}
Scripture Shuffle - Take a Quiz on Bible Verses From the KJV Bible
{% endblock %}
{% block content %}
<style nonce="{{ request.csp_nonce }}">
    body{
        padding-bottom: 1em;
    }
    #displaytimer{
        text-align: right;
    }
</style>
<div class="container ">
<h1><img src="/static/bibleflashcardsjs/images/icons/book-bible-solid.svg">Scripture Shuffle</h1>

{% if flag_dbempty %}
{{ dbempty_message }}
{% else %}
<strong>Verses Updated: {{ update_date }}</strong>
<div align="right " id="displaytimer">
    <b>Timer: 0 seconds</b>
</div>
{% endif %}

 <form id="form-multiple-choice-quiz" method='post'>
    {% csrf_token %}
    {% for q  in questions%}
    <div class="form-group">
      <label class="questions-test" for="question">{{q.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1">

                {{q.op1}}

        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
                {{q.op2}}
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios3" value="option3">
                {{q.op3}}
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios4" value="option4">
                {{q.op4}}
        </div>
        <br>
    </div>
    {% endfor %}
    <input id='timer' type='hidden' name="timer" value="">
    <br>
    {% if not flag_dbempty %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endif %}
  </form>

{% endblock content %}

{% block script %}

<script nonce="{{ request.csp_nonce }}">
  const validateForm =()=>{

    // Select elements with the class "questions-test"
    const questions = document.querySelectorAll(".questions-test")
    const selections = document.querySelectorAll(".form-check-input")

    const mutiple_choice_answers_length = 4
    let checked_flag = false
    let form_valid = true

    let i=0

    if(selections.length > 0){
        selections.forEach((selection)=>{
            i+=1
            //console.log("selections length is ",selections.length)
            if(selection.checked){
                checked_flag=true
                let selection_value = selection.value
                console.log("Here is the selection value ",selection_value)
            }
            else{

                if(i==mutiple_choice_answers_length){
                    if(checked_flag==false){
                        console.log("You haven't selected a multiple choice answer for this question ")
                        form_valid=false
                    }
                    else{
                        checked_flag=false
                    }
                    i=0
                }
            }
                    
        })
            
    }
     
    // Check if any elements were found
    if (questions.length > 0) {
        questions.forEach((question) => {
            let text = question.textContent;
            console.log(text);
        });
    } else {
        console.log("No elements with class 'questions-test' found.");
    }

  // end function validateForm
    return form_valid
  }

    form_multiple_choice_quiz=document.getElementById("form-multiple-choice-quiz")
    form_multiple_choice_quiz.addEventListener(("submit"),(event)=>{
        event.preventDefault()
        form_valid = validateForm()
        if(form_valid){
            form_multiple_choice_quiz.submit()
        }
        else{
            window.alert("You haven't selected a multiple choice answer for one or more questions")
        }
    })

</script>

<script nonce="{{ request.csp_nonce }}">

    const timer=document.getElementById('displaytimer')
    const inputtag = document.getElementById('timer')

    let t=0
    setInterval(()=>{
        t+=1
        timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
        inputtag.value = t
    },1000)
</script>
{% endblock script %}



