nav {
 width: 100%;
 height: 50px;
 background-color: #333;
 color: white;
 padding: 0.5em 1em;
 position: fixed;
 top: 0;
 z-index: 40;
}

nav .menu {
 display: none;
 flex-direction: column;
 gap: 0.5em;
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;
 background-color: #444;
}
nav .menu a {
 text-decoration: none;
 color: white;
 background-color: black;
 padding: 0.5em;
}
nav .menu a:hover {
 background-color: #555;
}
nav .toggle {
 display: flex;
 justify-content: space-between;
 align-items: center;
 cursor: pointer;
}

/* Media Query for Larger Screens */
@media (max-width: 600px) {
 nav .menu {
  display: none; /* Hide the menu by default for smaller screens */
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #444;
 }
 nav .toggle {
     display: flex;
 }
}


